.mecho-fest.fest-about {
    width: 100%;
    background: url('imgs/event_back.png') no-repeat center center;
    background-size: cover;
    min-height: 100vh;

    .fest-about-content {
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px;

        .about-photo {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            box-shadow: 0 0 10px #419fbc;
            margin: 20px auto;

            img {
                width: 200px;
                height: 200px;
            }
        }

        .about-name {
            @include font(30px, 50px, 'fontBold', #ffffff);
            text-align: center;
            margin: 20px 0;
        }

        .about-designation {
            @include font(25px, 50px, 'fontRegular', #ffffff);
            text-align: center;
        }

        .about-detail {
            p {
                @include font(16px, 30px, 'fontRegular', #ffffff);
                text-align: left;
                margin-bottom: 20px;
                text-indent: 20px;
            }

            ul li {
                padding-left: 40px;
                background: url('imgs/bullet.png') no-repeat 0 5px;
                background-size: 30px 30px;
                @include font(16px, 40px, 'fontRegular', #ffffff);
                text-align: left;
            }
        }
    }
}
