<div class="mf-page">
    <mf-header></mf-header>

    <form novalidate class="simple-form">

        <div class="form-row">
            <span>Name</span>
            <input type="text" ng-model="register.model.ParticipantName" name="ParticipantName"/>
        </div>

        <div class="form-row">
            <span>Gender</span>
            <div>
              <input type="radio" ng-model="register.model.ParticipantGender" value="M">
              <input type="radio" ng-model="register.model.ParticipantGender" value="F">
            </div>
        </div>

        <div class="form-row">
            <span>College</span>
            <input type="text" ng-model="register.model.ParticipantCollege" name="ParticipantCollege"/>
        </div>

        <!-- <div class="form-row">
          <span>Events</span>
          <div>
            <input type="checkbox" ng-model="register.model.ParticipantGender" name="event_name[]" value="event1">
            <input type="checkbox" ng-model="register.model.ParticipantGender" name="event_name[]" value="event2">
          </div>
        </div>

        <div class="form-row">
          <span>Presentation Topic</span>
          <div>
            <input type="text" ng-model="register.model.PresentationTopic" name="PresentationTopic"/>
          </div>
        </div> -->

        <div class="form-row">
          <span>Year</span>
          <input type="text" ng-model="register.model.Year" name="Year"/>
        </div>

        <div class="form-row">
          <span>Department</span>
          <input type="text" ng-model="register.model.Department" name="Department"/>
        </div>

        <div class="form-row">
          <span>Email</span>
          <input type="text" ng-model="register.model.ParticipantEmail" name="Year"/>
        </div>

        <div class="form-row">
          <span>Phone</span>
          <input type="text" ng-model="register.model.ParticipantPhone" name="Year"/>
        </div>

        <div class="form-row">
          <input type="submit" value="submit" ng-click="register.stateChange()"/>
        </div>

    </form>

    <mf-footer></mf-footer>
</div>
