<div class="mecho-fest fest-events">
    <div class="fest-event-block">
        <div class="fest-event-item">
            <img src="files/events/eventbg.png"/>
            <div class="event-item-content">
                <h3>Paper</h3>
                <h3>Presentation</h3>
            </div>
            <div class="event-item-action" ng-click="events.stateChange('paper')">
                <div class="event-button"></div>
            </div>
        </div>
        <div class="fest-event-item">
            <img src="files/events/eventbg.png"/>
            <div class="event-item-content">
                <h3>Aqua</h3>
                <h3>Missile</h3>
            </div>
            <div class="event-item-action" ng-click="events.stateChange('aqua')">
                <div class="event-button"></div>
            </div>
        </div>
        <div class="fest-event-item">
            <img src="files/events/eventbg.png"/>
            <div class="event-item-content">
                <h3>Technical</h3>
                <h3>Quiz</h3>
            </div>
            <div class="event-item-action" ng-click="events.stateChange('quiz')">
                <div class="event-button"></div>
            </div>
        </div>
    </div>
</div>
