<div class="mecho-fest fest-headr">
    <div class="fest-headr-logo">
        <a href="#">
            <img src="files/header/fest_logo.png" alt="Mecho Fest" />
        </a>
    </div>
    <div class="fest-headr-menu">
        <ul>
            <li>
                <span ng-click="header.stateChange('index')">Home</a>
            </li>
            <li>
                <span ng-click="header.stateChange('event')">Event</span>
            </li>
            <li>
                <span ng-click="header.stateChange('about')">About us</span>
            </li>
            <li>
                <span ng-click="header.stateChange('gallery')">Gallery</span>
            </li>
            <li>
                <span ng-click="header.stateChange('register')">Register</span>
            </li>
        </ul>
    </div>
</div>
