<div class="fest-about">
    <mf-header></mf-header>
    <mf-banner page="about"></mf-banner>
    <div class="fest-about-content">
        <div class="about-photo">
            <img src="files/person/person1.png" />
        </div>
        <div class="about-name">‘Cavalier’ Dr. M.S.Mathivaanan M.Com., M.A., D.I.E.M., H.G.D.M.(LON).,F.T.A., M.Phil., Ph.D.,</div>
        <div class="about-designation">CHAIRMAN</div>
        <div class="about-detail">
            <p>‘Cavalier’ Dr. M.S.Mathivaanan, chairman of SSM Group of Institutions, is a versatile and multifaceted facility. Basically an industrialist hailing from Komarapalayam town, he has achieved many milestones. He has to his credit a vast experience
                in managing educational institutions and is the forerunner in the establishment of SSM College Of Engineering, SSM College Of Arts & Science and other institutions of SSM Group. He has presented Numerous papers in International conferences
                of which a paper on ‘Engineering Management Education & Social and Philosophical Aspects of technology & its impact on Modern Society’ at UNESCO International centre for Engineering Education is a notable one</p>
            <p>He is the member of Apex-body of the Textile association (India), Confederation of India Weaving Industries, Power loom Development and Export Promotion Council, South India Textile Manufacture’s Association and Nodal Centre for upgradation
                of Textile Education, to name a few. He received the fellowship of ‘World Academy of Productivity Science’ at Shenyang in china.
            </p>
            <p>He is also an active and constructive social leader who has been a signatory of the convention of the Rights of the child at the United Nations and 2nd Don Black Belt in Karate by Kyokushin karate International. He is the first Indian and
                first non-christian in the world to receive the grand cross ‘Cavalier’ title at the Royal Palace, Italy by his Royal Highness, Italy for promoting the rights of Child at United Nations.
            </p>
        </div>
    </div>
    <div class="fest-about-content">
        <div class="about-photo">
            <img src="files/person/person2.png" />
        </div>
        <div class="about-name">Mr. Indarjith Mathivaanan</div>
        <div class="about-designation">VICE CHAIRMAN</div>
        <div class="about-detail">
            <p>Mr. Indarjith Mathivaanan is the Vice-Chairman of SSM Group of Institutions. He studied at Montfort school and completed his Bachelor of Engineering in Honors with Business Studies at University of Southampton, United Kingdom. He holds several
                decisive positions such as</p>
            <ul>
                <li>Chief Executive Officer of SSM International Academy</li>
                <li>Managing Director of Tanext Chemicals</li>
                <li>Chief Executive Officer of Caliber Corporation, Belgium</li>
                <li>Director of Cavery Clothing Company & Trustee of SSM Educational Trust</li>
            </ul>
            <p>With a vision to enhance overall development of Individual and Institution, he has undertaken visits abroad for promotional activities of SSM Group of Institutions. </p>
            <p>Inspired by the ‘Tom shoes’ activities, he has commenced a business venture with a social cause called “Devalan” which means clothing the world. “Devalan” produces High quality polo T-shirts and Denim jeans to be sold in the market. The concept
                of Develan is ‘For every product sold, Devalan gives a similar product to a child in need’. That is YOU buy one and WE give one to a child in need </p>
        </div>
    </div>
    <div class="fest-about-content">
        <div class="about-photo">
            <img src="files/person/person3.png" />
        </div>
        <div class="about-name">Dr. C. Kumar Charlie Paul</div>
        <div class="about-designation">PRINCIPAL</div>
        <div class="about-detail">
            <p>Dr. C. KUMAR Charlie paul, He did his Bachelor in Electronics & Communication Engineering at Karunya University, Coimbatore and his master of Engineering in Applied Electronics at Government College of technology, Coimbatore. He completed
                his Doctor of Philosophy in ‘Embedded Systems’ at Magadh University, Bihar in the year of 2009. He served as Dean, Director and Principal at various Educational Institutions and has total teaching experience of 26 years. Until now, he
                published 45 Technical papers in Internationals Journals and 30 papers in National Journals. He organized several Workshops, National & International symposiums and National & International Conferences. He penned 15 Books on ‘Information
                & Communication Engineering’ and all these books were published by leading Book Publishing Agencies in India.
            </p>
        </div>
    </div>
    <div class="fest-about-content">
        <div class="about-photo">
            <img src="files/person/person4.png" />
        </div>
        <div class="about-name">P.R. MANIKANDAN</div>
        <div class="about-designation">HOD</div>
        <div class="about-detail">
            <p>Mr.P.R.Manikandan completed his post graduation, M.E (Industrial Engineering), from the Anna University Chennai in the year 1997 with Gold medal. He is in the teaching field for the past 17 years and 2years of industrial experience. Gave guest
                lecture at various Engineering colleges on “Renewable Energy Sources”. He is a resource person for the workshops preparation & delivery skills in Effective teaching at various occasions.
            </p>
        </div>
    </div>
    <div class="fest-about-content">
        <div class="about-photo">
            <img src="files/person/person5.png" />
        </div>
        <div class="about-name">Professor G.KATHIRESAN</div>
        <div class="about-designation">CO-ORDINATOR</div>
        <div class="about-detail">
            <p>Prof. G. Kathiresan , did his bachelor of Engineering in Mechanical Engineering at K.S.R. College of Technology Periyar University, Salem and his Master of Engineering IN (CAD/CAM) at Karunya University, Coimbatore. He pursuing his Doctor
                of philosophy in Mechanical Engineering at Anna University, Chennai. He is having total teaching experience of 13 years. Until now, he published 4 Technical papers in International Journal & 4 Technical papers in International Conferences.
                He organized several workshops, & symposium
            </p>
        </div>
    </div>
</div>
