<div class="event-view">

    <div class="event-view-content" ng-if="eventView.model.activeEvent === 'paper'">

        <div class="event-view-title">

            Paper Presentation

        </div>

        <div class="event-view-topics">

            <h4>Possible Topics to pick:</h4>

            <ul>

                <li>ROBOTICS</li>

                <li>THERMAL ENGINEERING</li>

                <li>DESIGN / CAD/CAM</li>

                <li>ADVANCED TECHNOLOGIES  IN AUTOMOBILE ENGINEERING</li>

                <li>SUPPLY CHAIN MANAGEMENT</li>

                <li>COMPOSITE MATERIALS</li>

                <li>PRODUCTION TECHNOLOGY </li>

            </ul>

        </div>

        <div class="event-view-rules">

            <h4>Instructions to follow:</h4>

            <ul>

                <li>Only two members are permitted per team.</li>

                <li>The students must carry valid student ID cards of their college which they will be required to produce at the time of registration.</li>

                <li>Any student from a recognized institute/college can participate in this event.</li>

                <li>Each talk is 15 minutes long. It is recommended to use 12 minutes to present and 3 minutes to discuss.</li>

                <li>Ensure that you are available at least 30 minutes before the session starts on the day of the conference.</li>

                <li>The equipment available will be PC and Data Projector.</li>

                <li>The recommended software to be used is PowerPoint.</li>

            </ul>

        </div>

    </div>

    <div class="event-view-content" ng-if="eventView.model.activeEvent === 'aqua'">

        <div class="event-view-title">Aqua Missile</div>

        <div class="event-view-rules">

            <h4>Instructions to follow:</h4>

            <ul>

                <li>A team should not exceed more than 2 members.</li>

                <li>The students must carry valid student ID cards of their college which they will be required to produce at the time of registration.</li>

                <li>Any student from a recognized institute/College can participate in this event.</li>

                <li>Participants will be allowed to launch their model only 1 time in first round. This will count the total distance of flight of model.</li>

                <li>In the second round 2 chances will be provided, both chances will be considered for judging.</li>

            </ul>

        </div>

    </div>

    <div class="event-view-content"  ng-if="eventView.model.activeEvent === 'quiz'">

        <div class="event-view-title">Technical Quiz</div>

        <div class="event-view-rules">

            <h4>Instructions to follow:</h4>

            <ul>
                <li>Only team entries are eligible.</li>
                <li>A team shall consist of max two persons</li>
                <li>The students must carry valid student ID cards
                    of their college which they will be required to produce at the time of registration.</li>
                <li>Any student from a recognized institute/college can participate in this event.</li>
                <li>The decision of the quiz-master will be final and will not be subjected to any change.</li>
                <li>The participants shall not be allowed to use mobile or other electronic instruments.</li>
                <li>The questions shall be in the form of multiple choice, True / False statement, Specific-answer etc.</li>
                <li>Audience shall not give any hints or clues to the competitors.</li>
                <li>Replacement of any participant of a team is not allowed after registration.</li>
            </ul>
        </div>
    </div>

    <div class="event-contact">

        <h2>Contact Details:</h2>

        <p>MUTHURAMAN M</p>

        <p>EVENT CO-ORDINATOR</p>

        <p>FINAL YEAR MECHANICAL ENGINEERING</p>

        <p>Mobile: 9976945213</p>

        <p>Email: muthummr2396@gmail.com</p>

    </div>

</div>
